@model WebApp.Models.ItemsPaginationViewModel
@using WebApp.Helpers

@{
    ViewBag.Title = "Items";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<h2>@ViewBag.TypeName</h2>

<div id="Content" >
    <div id="items">
        @foreach (var item in Model.Items)
        {
            <div class="item" data-itemid="@item.Id">
                @if (item.Images.ToList().Count != 0)
                {
                    <img src="@Url.Action("GetImage", "Home", new { ImageId = item.Images.First().Id })" alt="@item.Name" />
                }
                else
                {
                    <img src="~/Content/Sources/default.jpg" alt="@item.Name" />
                }
                <div>
                    <p>@item.Name</p>
                    <p>
                        <div class="price">
                            <span><nobr>@item.Price<sup> грн.</sup></nobr></span>
                        </div>
                    </p>
                </div>
            </div>
        }
    </div>


    <br />
    <center>
        <div class="btn-group">
            @Html.PageBoxLinks(Model.PageInfo, pageNumber => Url.Action("Items", new { TypeId = ViewBag.TypeId, page = pageNumber }))
        </div>
    </center>
</div>
<div style="clear:both;"></div>
<link rel="stylesheet" href="~/Content/Home/items.css" />
@Scripts.Render("/bundles/jquery")
<script src="~/Scripts/Home/items.js"></script>