@model WebApp.Models.Entities.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Item</h4>
    <input type="hidden" id="ItemId" value="@Model.Id" />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>

    </dl>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                <span style="text-align:center" class="">Descriptions</span>
            </div>
            <div class="pull-right">
                <input class="btn btn-primary" type="button" value="Edit" id="DescriptionEdit" />
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("EditDescriptions", "Items"))
            {
                <input type="hidden" value="@Model.Id" id="ItemId" name="ItemId" />
                <table class="table">
                    <tbody>
                       @if (Model.Type.Properties != null)
                       {
                           foreach (var prop in Model.Type.Properties.ToList())
                           {
                               var description = Model.Descriptions.SingleOrDefault(d => d.Property.Id == prop.Id);
                               if(description!=null)
                               {
                                   <tr>
                                       <td>
                                           @description.Property.Name 
                                       </td>
                                       <td>
                                           <input type="hidden" />
                                           <textarea rows="4" class="form-control descriptions" data-descriptionid="@description.Id" data-propertyid="@description.Property.Id" name="Descriptions" disabled="disabled">@description.Value</textarea>
                                       </td>
                                   </tr>
                               }
                               else
                               {
                                    <tr>
                                        <td>
                                            @prop.Name
                                        </td>
                                        <td>
                                            <input type="hidden" />
                                            <textarea rows="4" class="form-control descriptions" data-descriptionid="null" data-propertyid="@prop.Id" name="Descriptions" disabled="disabled"></textarea>
                                        </td>
                                    </tr>
                               }
                           }
                       }
                    </tbody>
                </table>
                <input type="button" class="btn btn-primary pull-right" value="Save" id="DescriptionsSave" style="display:none;" />
            }
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                Images
            </div>
            <div class="pull-right">
                <button id="fileupload" class="btn btn-primary">+</button>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="panel-body">
            <div id="imagesBlock" style="display:flex;flex-wrap:wrap;align-content:space-around;justify-content:center;" class="btn-toolbar">
                @foreach (var image in Model.Images)
                {
                    <div style="margin:10px;">
                        <img style="max-height:200px;" class="img-thumbnail" src="@Url.Action("GetImage", "Items", new { ImageId = image.Id })" alt="@Model.Name" /><br />
                        <button type="button" class="btn btn-default deleteImage" data-id="@image.Id">Delete</button>
                    </div>
                }
            </div>
        </div>
    </div>


    <div style="display:none;">
        @using (Html.BeginForm("AddItemImage", "Items", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", @id = "temporaryForm" }))
        {
            <input type="hidden" value="@Model.Id" name="ItemId" />
            <input type='file' id='file' name='File' accept='image/jpeg,image/gif,image/x-png' />
            <input type="submit" id="submitImageForm" />
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootbox")

<script src="~/Scripts/Items/Details.js"></script>