@model WebApp.Models.Entities.Type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Type</h4>
    <input type="hidden" value="@Model.Id" name="TypeId" id="TypeId" />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        @if (Model.ParentType != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.ParentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentType.Name)
        </dd>
        }
        @if (Model.Image != null)
        { 
        <dt>
            Image
        </dt>

        <dd>
            <img src="@Url.Action("GetImage", "Home", new { ImageId = Model.Image.Id })" alt="@Model.Image.Name" height="150" />
        </dd>
        }
    </dl>
    <H2>Властивості</H2>
    @if (ViewBag.IsParent == false)
    {
        <p>
            <button type="button" class="btn btn-primary" id="newProperty">Add new property</button>
            @Html.ActionLink("Add/Remove properties", "ChangeConnectionBetweenTypeAndProperties", new { TypeId = Model.Id }, htmlAttributes: new { @class="btn btn-primary", @data_toggle = "tooltip", @title = "Change connection between Type and Properties" })
        
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Назва
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var property in Model.Properties)
            {
                <tr>
                    <td>
                        @property.Name
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary deleteProperty pull-right" data-propertyid="@property.Id">x</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Scripts.Render("~/bundles/bootbox")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/toastr")
@Styles.Render("~/bundles/toastrcss")
<script src="~/Scripts/Types/Details.js"></script>
